<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <queries>
        <package android:name="com.google.android.apps.photos" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.google.android.dialer" />
        <package android:name="com.google.android.googlequicksearchbox" />
        <package android:name="com.google.android.as" />
        <package android:name="com.android.vending" />
        <package android:name="com.android.chrome" />
        <package android:name="com.google.android.apps.books" />
        <package android:name="com.google.android.apps.docs" />
        <package android:name="com.google.android.apps.docs.editors.docs" />
        <package android:name="com.google.android.apps.googlevoice" />
        <package android:name="com.google.android.apps.magazines" />
        <package android:name="com.google.android.apps.messaging" />
        <package android:name="com.google.android.apps.walletnfcrel" />
        <package android:name="com.google.android.calendar" />
        <package android:name="com.google.android.contacts" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.google.android.apps.adm" />
        <package android:name="com.google.android.apps.bard" />
        <package android:name="com.google.android.apps.chromecast.app" />
        <package android:name="com.google.android.apps.dynamite" />
        <package android:name="com.google.android.apps.fitness" />
        <package android:name="com.google.android.apps.tasks" />
        <package android:name="com.google.android.apps.translate" />
        <package android:name="com.google.android.keep" />
        <package android:name="com.google.ar.lens" />
        <package android:name="com.niksoftware.snapseed" />
        <package android:name="com.google.android.inputmethod.latin" />
    </queries>
    <application android:name=".GappuccinoApplication" android:allowBackup="false"
        android:icon="@drawable/ic_launcher" android:label="Gappuccino"
        android:supportsRtl="true" android:theme="@style/Theme.Gappuccino">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>
        <service android:name="io.github.hankaviator.gdialertweak.testcall.TestConnectionService"
            android:exported="true" android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE">
            <intent-filter><action android:name="android.telecom.ConnectionService" /></intent-filter>
        </service>
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Google app tweaks, organized by app" />
        <meta-data android:name="xposedminversion" android:value="93" />
        <meta-data android:name="xposedsharedprefs" android:value="true" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />
    </application>
</manifest>
